{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{% static 'css/styleCategoryList.css' %}">
    <title>Категории</title>
</head>
<body>

<header>
      <div id="title"><h1>SmartMoney</h1></div>
      <div class="search">
        <h3>
          <form action="" method="get">
            <input class="name-search" name="search" placeholder="Поиск" type="search">
            <input type="image" src="/static/images/search-image.png" class="button-search" name="submit">
          </form>
        </h3>
          <div class="search-line"></div>
      </div>
         <div class="notification-profile">
             <div class="notification-list">
                <img class="notification-image"  src="/static/images/notification-image.png"/>
             </div>
             <div class="profile-list">
                 <a href="{% url 'profile' %}">
                    <img class="profile-image" src="/static/images/ava.png"/>
                 </a>
             </div>
         </div>
    </header>
    <main>
        {% if categories %}
        <ul>
            {% for category in categories %}
            <li>
                <p>{{ category.category_name }}</p>
                <img src="{{ category.icon.url }}" width="50" height="50">
                <a href="{% url 'category_edit' category.id %}">Изменить</a>
                <a href="{% url 'category_delete' category.id %}">Удалить</a>
                <hr>
            </li>
            {% endfor %}
        </ul>
        {% else %}
            <p>Еще нет категорий</p>
        {% endif %}
        <a href="{% url 'category_create' %}">Создайте собственную категорию</a>
    </main>

</body>
</html>
