{% extends 'users/profile/categories/category_base.html' %}
{% load static %}

{% block head %}
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/styleCategory.css' %}">
  <title>Категории</title>
{% endblock %}

{% block content %}
    <main>
    {% if categories %}
    <ul>
        <h1>Расходы</h1>
        {% for category in categories %}
            {% if category.key == 'Расходы' %}
            <li>
                <p>{{ category.category_name }}</p>
                <img src="{{ category.icon.url }}" width="50" height="50">
                <a href="{% url 'category_edit' category.id %}">Изменить</a>
                <a href="{% url 'category_delete' category.id %}">Удалить</a>
            </li>
            {% endif %}
        {% endfor %}
        <h1>Доходы</h1>
        {% for category in categories %}
            {% if category.key == 'Доходы' %}
            <li>
                <p>{{ category.category_name }}</p>
                <img src="{{ category.icon.url }}" width="50" height="50">
                <a href="{% url 'category_edit' category.id %}">Изменить</a>
                <a href="{% url 'category_delete' category.id %}">Удалить</a>
            </li>
            {% endif %}
        {% endfor %}
    </ul>
    {% else %}
        <p>Категорий нет. Создайте</p>
    {% endif %}
        <a href="{% url 'category_create' %}">Создайте собственную категорию</a>
    </main>
{% endblock %}